@using ImageService.Web.Models
@using ImageService.Web.Models.LogicObjects
@model IEnumerable<ImageService.Web.Models.LogicObjects.Photo>
@{
    ViewBag.Title = "PhotosView";
}
<h2>Photos</h2>
@foreach (Photo photo in Model)
{
    <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="@photo.PathToThumbnail" class="img-circle" width="242" height="200">
            <div class="caption">
                <h3>Details</h3>
                <p>Year: @photo.YearTaken Month:, @photo.MonthTaken </p>
                <p>Name: @photo.PhotoName</p>
                <p align="center">
                    <a href="@Url.Action("SinglePhotoView", new { relativePathToImage = photo.RelativePathToPhoto})"
                       id="viewButton"
                       class="btn btn-primary"
                       role="button">
                        View
                    </a>
                    <a href="@Url.Action("DeletePhotoView", new { relativePathToImage = photo.RelativePathToPhoto})"
                       id="deleteButton"
                       class="btn btn-danger"
                       role="button">
                        Delete
                    </a>
                </p>
            </div>
        </div>
    </div>
}